* {
margin:0px;
padding:0px;

}

 .bigmage {
background-image: url('tt0.jpg');
background-size:100% 110%;
width:100%;
height: 90vh;

} 
.menu{
	width:100%;
	height: 100px;
 background-color:rgba(0,0,0,0.5);
 
}

.menu2{
	width:100%;
	margin-top:10;
	height: 80px;
 background-color:black;
 
}

.logo {
	width:80%;
	line-height;150px;
	float:left;
	color:white;
	margin-top:20px;
	font-size:35px
}

.logo h4 {
	 
	
	font-family:'Montserrat', sans-serif;
}
.rightmenu{
	width:70%;
	height:100px;
	float:right;
}

.rightmenu ul li{
font-family:'Montserrat', sans-serif;
display:inline-block;
list-style:none;
font:size:15px;
color:white;
font-weight:bold;
line-height:1350px;
margin-left:40px;

}	

.text {
	width:100%;
	margin-top:185px;
	text-align:center;
	color:white;
	
}

a {
color:white;
text-decoration:none;	
	
}
a:hover {
	color:orange;
	
}

#button {
	background-color:white;
	border:none;
	font-size:15 px;
	font-weight:bold;
	line-height:40 px;
	width:150px;
	height:50px;
	font-family:'Montserrat', sans-serif;
	margin-top:25px;
	
}